@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Dancing+Script:wght@400..700&family=Faculty+Glyphic&family=Lilita+One&family=Lobster&family=Spicy+Rice&display=swap');


h2{
    font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal
}